.phone-number-show {
   opacity: 1 !important;
   margin-top: 25px !important;
}
.showArrow{
   transform : rotateX(180deg) !important;
}
.active-menu {
   transition: 1s;
   -webkit-transition: 1s;
}
.hiden-menu {
   -webkit-transition: 1s;
   transition: 1s;
}
.popup-dialog-menu__mobile{
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}
.popup-privacy_active,
.price-list_active,
.popup-consultation_active,
.popup-thank-active {
   visibility: visible;
}
.rotatePopUp {
   bottom: 0 !important;
   top: 160px !important;
   padding: 30px 40px 0 !important;
}
.rotatePopUp:before{
   transform : rotateX(180deg) !important;
}