.phone-number-show {
   opacity: 1 !important;
   margin-top: 25px !important;
}
.showArrow{
   transform : rotateX(180deg) !important;
}
.active-menu {
   transition: 1s;
   -webkit-transition: 1s;
}
.hiden-menu {
   -webkit-transition: 1s;
   transition: 1s;
}
.popup-dialog-menu__mobile{
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}
.popup-privacy_active,
.price-list_active,
.popup-consultation_active,
.popup-thank-active,
.popup-transparency-active,
.popup-portfolio-active {
   visibility: visible;
}
.rotatePopUp {
   padding-top: 35px;
   transform: translateY(5px);
   top: 155px;
}
.active-item .rotatePopUp:before {
   transform: rotateZ(180deg);
}
.row-index{
   z-index: 1;
}
.popup-transparency-slider__slide,
.reviews-slider__slide {
   display: none;
}
.popup-transparency-slider__active,
.reviews-slider__active {
   display: flex;
}
.slider-dots {
   display: flex;
}